@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: rgb(45, 20, 46);
    color:antiquewhite;
}

nav ul li{
    padding: 0 12px;
}
nav ul li a {
    text-decoration: none;
    color: antiquewhite;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin-top: 8px;
    margin-left: 90px;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.songList{
    width: 70%;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 75px;
    background-color: rgb(45, 20, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top: 5px;
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    height: 60vh;
    width: 63%;
    margin-top: 20px;
}

.songItem{
    height: 22px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 21px;
    height: auto;
    margin: 0 23px;
    border-radius: 5px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }